.mv-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0; bottom: 0; left: 0;
  height: 40px;
  min-width: 800px;
  background: $darkest-grey;
  border-top: 1px solid $medium-grey;

  .label {
    color: white;
    background: $darkest-grey;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .mv-footer { min-width: 0; }
}
