.mv-section {
  position: relative;
  height: 600px;
  overflow: hidden;
  border-top: 1px solid $main;

  .bg-img-container {
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;

    > img { width: 100%; }
  }

  .banner {
    background: rgba(255, 255, 255, 0.25);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }

  .action-btn {
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 200px;
    height: 36px;
    padding-top: 12px;
    position: absolute;
    z-index: 2;
    border-radius: 24px;
    font-size: 18px;
    background: $main;
    transition: all .3s;

    &.secondary {
      top: 160px;
    }

    &:hover {
      background: $accent;
    }
  }

  .iframe-container {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width: 900px;
    z-index: 4;
  }
}
