.mv-welcome {
  margin-top: 100px !important;
  text-align: center;

  .welcome { font-size: 28px; }

  .covid-free {
    padding-top: 20px;
    color: $accent;
    font-size: 20px;
  }

  .separator {
    margin: 30px auto;
    width: 50%; height: 1px;
    background: $main;
  }

  .house-container {
    position: relative;
    display: flex;
    align-items: center;

    > img { width: 100%; }
  }

  .punch-line {
    padding-top: 24px;
    font-size: 16px;
    font-style: italic;
  }
}

@media screen and (max-width: 600px) {
  .mv-welcome {
    margin-top: 30px !important;
    border-bottom: 1px solid $lightest-grey;

    .welcome { font-size: 24px; }
    .hand-car-wash { font-size: 16px; }

    .separator {
      width: 100%;
      margin: 30px auto 0 auto;
    }

    .message { padding-top: 40px; }

    .punch-line {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
