.mv-welcome {
  min-width: 800px;
  margin: auto;
  padding: 70px 0;
  box-sizing: border-box;
  color: $dark-grey;
  margin-top: 100px !important;
  text-align: center;

  .slick-prev, .slick-next {
    position: absolute;
    z-index: 10;
    background: $dark-grey;
    font-size: 16px;
    color: white;
    border: 1px solid $accent;
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
  }

  .slick-prev {
    top: 190px;
    left: 0;
  }

  .slick-next {
    top: 190px;
    right: 0;
  }

  .welcome { font-size: 28px; }

  .covid-free {
    padding-top: 20px;
    color: $accent;
    font-size: 20px;
  }

  .separator {
    margin: 30px auto;
    width: 50%; height: 1px;
    background: $main;
  }

  .house-container {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 60%;

    > img {
      border: 1px solid $accent;
      width: 100%;
    }
  }

  .header-carousel {
    position: relative;
    width: 100vw; height: 400px;
    margin: auto;
    overflow: hidden;

    .carousel-img-container {
      position: relative;
      height: 400px;
      width: 500px;

      .carousel-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        height: 100%;
        width: 100%;
        margin: auto;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mv-welcome {
    width: 100vw;
    min-width: 0;
    padding: 40px 25px;
    margin-top: 30px !important;
    border-bottom: 1px solid $lightest-grey;

    .welcome { font-size: 24px; }
    .hand-car-wash { font-size: 16px; }

    .separator {
      width: 100%;
      margin: 30px auto 0 auto;
    }

    .message { padding-top: 40px; }
  }
}
